[Unit]
Description=Koios DB Update Timer (every %i min)

[Timer]
OnCalendar=0/2:15:0
Unit=koios@%i.service
RandomizedDelaySec=8

[Install]
WantedBy=timers.target
